body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }

  .container {
    text-align: center;
    display: grid;
    grid-template-areas: 
    "izquierda"
    "imagenDerecha";

    grid-template:
    "izquierda imagenDerecha" 100%/
        30%         70%;
  }

  .izquierda{
    grid-area: izquierda;
    background-color: aquamarine;
  }

  .imagenDerecha{
    grid-area: imagenDerecha;
    background-color: blue;
  }

  input[type="password"] {
    font-family: monospace;
  }

  .show-password {
    margin-top: 10px;
  }

