.container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
  }

button {
    background-color: purple;
    color: white;
    padding: 10px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    display: block;
    margin: 10px auto;}
  
.titulo {
    font-size: 40px;
    background-color: purple;
    color: white;
    padding: 10px;
    border-radius: 5px;
  }
  
.imagenLogo {
    margin-left: 20px;
    max-width: 100px; /* Establece el ancho máximo deseado */
    max-height: 70px; /* Establece la altura máxima deseada */
  }

  table {
    margin: 20px auto;
    width: 50%;
  }
  
  td {
    padding: 10px;
  }